@import '/src/styles/variables.scss';

.Login {
  text-align: center;
  margin: auto;
  width: 700px;
  height: 750px;
  transform: translateY(15%);
  border: $border;

  .logoSection {
    text-align: center;
    height: 230px;
    width: auto;
    display: inline-block;
  }

  .h1 {
    @include flex-center;
    font-family: $font-family;
    font-size: 90px;
    font-weight: lighter;
    margin-top: 40px;
    font-weight: bolder;
  }

  .loginForm {
    .id,
    .password {
      height: 80px;
      width: 535px;
      margin-bottom: 10px;
      padding-left: 25px;
      background-color: hsla(0, 0%, 95%, 0.8);
      border: $border;
      font-size: 25px;
      color: #4d4848;
    }
  }

  .activeOff {
    width: 535px;
    height: 60px;
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 0 190px 0;
    color: white;
    background-color: #c4e1fb;
    border-radius: 6px;
    border-style: none;
  }

  .activeOn {
    width: 535px;
    height: 60px;
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 0 190px 0;
    color: white;
    background-color: #499ee9;
    border-radius: 6px;
    border-style: none;
  }

  .forgetIdSection {
    .forgetId > a {
      font-size: 25px;
      color: #2364a9;
    }
  }
}
