@import '../../../styles/variables.scss';

$fontSizeBasic: 14px;

@mixin smallIcon {
  width: 22px;
  height: 22px;
}

.main {
  #mainContainer {
    display: flex;
    justify-content: center;
  }

  // 개인 nav코드 삭제

  #mainPage {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    margin-top: 54px;
  }

  /* feeds */
  #feeds {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    margin-top: 83.2px;
    margin-bottom: 20px;
    margin-right: 30px;
    .feedsHeader {
      display: flex;
      align-items: center;
      height: 60px;
      background-color: #ffffff;
      .feedsHeaderIcon {
        @include smallIcon;
        margin-left: 15px;
      }
      .feedsHeaderUserName {
        font-size: $fontSizeBasic;
        font-weight: bold;
        margin-left: 5px;
      }
    }
    .feedsArticleImage {
      width: 614px;
    }
    .feedCommentHeart {
      @include smallIcon;
      margin-top: 15px;
      margin-bottom: 5px;
      margin-left: 15px;
      cursor: pointer;
    }
    .isLiked {
      background-color: red;
    }
    .feedsTextLike {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      font-size: $fontSizeBasic;
    }
    .feedsTextIcon {
      @include smallIcon;
      margin-left: 15px;
    }
    .feedsTextBold {
      margin-left: 5px;
      font-weight: 900;
    }
    .feedsText {
      margin-top: 15px;
      margin-left: 15px;
      margin-bottom: 10px;
      font-size: $fontSizeBasic;
    }
    .commentsList {
      list-style: none;
    }
    /* feeds comment */
    .inputFeedsComment {
      padding-left: 15px;
      width: 565px;
      height: 40px;
      border: none;
      font-size: $fontSizeBasic;
      font-weight: bold;
      &:placeholder {
        color: rgb(150, 150, 150);
      }
    }
    .enterFeedsComment {
      font-size: $fontSizeBasic;
      font-weight: bold;
      color: rgb(150, 220, 241);
      border: none;
      background-color: #fafafa;
      cursor: pointer;
    }
  }

  /* right section */
  #FixedrightSection {
    // position: fixed;
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 53.2px;
    .rightSectionLoginUser {
      display: flex;
      align-items: center;
      margin-top: 45px;
      margin-bottom: 20px;
    }
    .rightSectionLoginUserIcon {
      width: 60px;
      margin-right: 15px;
      margin-left: 5px;
    }
    .rightSectionLoginUserId {
      font-size: $fontSizeBasic;
      font-weight: bold;
    }
    .rightSectionStoryContainer {
      width: 305px;
      height: 275px;
      background-color: #ffffff;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 4px;
    }
    .rightSectionStory {
      display: flex;
      align-items: center;
      margin-top: 20px;
      margin-bottom: 30px;
      margin-left: 5px;
    }
    .rightSectionStoryIcon {
      @include smallIcon;
      margin-right: 5px;
    }
    .rightSectionStoryId {
      font-size: $fontSizeBasic;
      font-weight: bold;
    }
  }

  .comment {
    font-size: $fontSizeBasic;
  }
}
