@import '/src/styles/variables.scss';

.mainRyang {
  padding: 130px 0 80px 0px;
  width: auto;
  max-width: 1245px;
  transform: translateX(20%);

  .feeds {
    width: 780px;
    height: auto;

    .feedsAccountArea {
      position: relative;
      justify-content: left;
      padding-top: 80px;
      border: $border;
      background-color: white;

      .otherProfile {
        top: 20px;
        left: 20px;
        position: absolute;
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        border: $border;
      }
      .userName p {
        position: absolute;
        top: 25px;
        left: 720px;
        font-size: xx-large;
      }
    }
    .photo {
      width: 780px;
      height: 680px;
      background-image: '/src/assets/images/cloud.png';
      background-size: cover;
      overflow: hidden;
    }

    .feedsUnderArea {
      border: $border;
      padding-top: 15px;
      background-color: white;

      .feedsUnderAreaIcons {
        padding: 0 20px 5px 10px;
        font-size: 1.8rem;

        i:nth-child(-n + 3) {
          margin-right: 10px;
        }

        .fa-bookmark {
          padding-left: 580px;
        }
      }
    }
    .feedsLikes {
      display: flex;
      padding: 10px 0 0 12px;

      .feedsLikesCount {
        padding-left: 5px;
      }

      .feedsLikesAccount,
      .feedsLikesCount {
        font-weight: bold;
        font-size: large;
      }
    }

    .commentArea {
      padding: 10px 20px 7px 15px;
      font-size: large;
      border-bottom: 1px solid rgb(194, 194, 194);

      .commentContent {
        display: flex;
        position: relative;

        .commentId {
          font-weight: bold;
        }
      }

      .commentPart2 {
        display: flex;
        justify-content: space-between;
        width: 737px;

        .moreComment {
          color: #36363679;
          margin-top: 5px;
        }

        .commentTime {
          position: absolute;
          top: 20px;
          left: 10px;

          display: flex;
          margin-left: auto;

          font-size: large;
          color: #36363679;
        }

        .heartIcon {
          padding: 2px;
        }
      }
    }
    .commentsRepleArea {
      input {
        display: inline;
        padding: 20px 0 0 40px;
        border: 0;
        outline: 0;
        resize: none;
        font-size: x-large;
      }

      button {
        transform: translate(120%, -120%);
        outline: 0;
        border: 0;
        font-size: large;
        color: #499ee9;
        background-color: white;
        cursor: pointer;
      }
      input + button.deactivated {
        color: #c4e1fb;
        cursor: text;
      }
    }
    .mainRightArea {
      position: absolute;
      top: 70px;
      right: 2%;
      width: 390px;
      padding-bottom: 100px;

      .myAccountImage {
        background-image: '/src/assets/images/profile2.png';
        background-size: cover;
        border-radius: 50%;
        border: 3px solid red;
        width: 80px;
        height: 80px;
        transform: translate(20%, 20%);
      }
      .myAccountId {
        transform: translate(30%, -200%);
        font-weight: bold;
        font-size: large;
        color: black;
      }
      .myAccountIntroduce {
        transform: translate(30%, -210%);
        color: #36363679;
        font-size: large;
      }
    }
    .mainRightStories {
      border: 2px solid rgb(194, 194, 194);
      background-color: white;
      margin-top: 30px;

      .storiesProfile {
        padding: 10px;

        .storiesUi1 {
          .storiesUl1:first-child {
            display: flex;
            justify-content: space-between;
            color: #36363679;
            font-weight: bold;
          }

          .storiesMoreProfile {
            justify-content: space-between;
            color: black;
          }
        }

        .storiesUl2 {
          position: relative;
          margin-top: 20px;

          .storiesUl2 li {
            display: inline-block;
            line-height: 35px;
            vertical-align: text-top;
          }
          .storiesPhoto {
            background-image: '/src/assets/images/profile3.png';
            background-size: cover;
            width: 60px;
            height: 60px;
            border-radius: 50px;
            border: 3px solid red;
          }
          .storiesId {
            font-weight: bold;
          }

          .storiesTime {
            position: absolute;
            bottom: 0;
            left: 65px;
          }
        }
      }
    }
  }
}
